<div class="container-fluid container-background">
    <div class="container pt-5">
        <main class="px-3 container-content ">
            <div class="row justify-content-center align-items-center">
                <div class="col-6">
                    <img src="../../../assets/Images/img1.png" alt="Image 1" class="img-fluid rounded-4">
                </div>
                <div class="col-md-6">
                    <p class="fs-5 fst-italic">
                        I am a Full stack .NET developer with experience developing websites and applications and a good
                        understanding of responsive design. I am seeking an opportunity to work with an organization
                        that values creativity, innovation, and teamwork, where I can continue developing my skills and contribute
                        to developing impactful solutions.
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>
