<div class="container-fluid container-background">
  <div class="container pt-5">
    <main class="px-3 container-content">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <h1 class="display-4 fw-bolder">Hello I am Mohammed</h1>
          <h3 class="display-5  fst-italic"> I am <span>{{ values[currentIndex] }}</span> </h3>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ab, obcaecati cum, in aliquid placeat numquam sint iure veritatis pariatur autem asperiores dicta voluptatum sapiente quasi assumenda a harum </p>
          <p class="lead text-center">
            <a href="assets/files/Mohammed_Elmanzalawi_Resume_25-07-2023-11-25-23 (1).pdf" download="Mohammed_Elmanzalawi_Resume_25-07-2023-11-25-23 (1).pdf" class="btn btn-outline-primary">Download My CV</a>
          </p>
        </div>
      </div>
    </main>
  </div>
</div>
