<div class="container-fluid container-background">
    <div class="container pt-5  pb-5">
        <div class="px-3 container-content pt-3 pb-3">
            <div class="row  row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p2.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Shipping system</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nisi ad laboriosam alias aliquam optio inventore odio facere necessitatibus voluptates rem esse, nihil aspernatur aut quia possimus, consequuntur delectus! Aliquid.</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="https://youtu.be/gLy1W9IIJ4s?feature=shared">Show More</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p1.png" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Qahwak store</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nisi ad laboriosam alias aliquam optio inventore odio facere necessitatibus voluptates rem esse, nihil aspernatur aut quia possimus, consequuntur delectus! Aliquid</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="https://mohmed-mnz.github.io/Qhawak-Store/">Show More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">learn IT</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid iure sed ipsum. Quidem qui voluptates mollitia, fugit sunt magni, ea in eius aspernatur accusamus cum et impedit? Impedit, non voluptas. </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="https://mohmed-mnz.github.io/Learn_Courses/">Show More</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">portofolio Desing</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi et itaque quo non obcaecati vitae quam? Aut, omnis eveniet! Dolores corporis quisquam ab modi aut obcaecati excepturi laudantium culpa tempore?</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="https://mohmed-mnz.github.io/Portofolio/">Show More</a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">apple clone</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illum tempora possimus tenetur illo, nostrum accusamus iste eos exercitationem sed, mollitia voluptatibus officiis quis fuga rem dolores ad assumenda provident?</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="https://mohmed-mnz.github.io/Apple-Clone/">Show Demo</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Web Design Kit</h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem temporibus qui autem perferendis voluptatum, cupiditate optio quia modi, quos amet ipsa, deleniti animi eum tempora hic eius laborum magni officiis! </p>
                        </div>
                        <div class="card-footer text-center ">
                            <a class="text-decoration-none text-primary" href="https://mohmed-mnz.github.io/Html_CSS_KIT/">Show More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="assets/Images/p7.png" class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Io Website</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nisi ad laboriosam alias aliquam optio inventore odio facere necessitatibus voluptates rem esse, nihil aspernatur aut quia possimus, consequuntur delectus! Aliquid</p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="text-decoration-none text-primary" href="#">Show More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>