<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container ">
    <a class="navbar-brand fs-2" href="#"><span class="fs-2" style="color: #59b0d8;">M</span>nz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateWithDelay('home')" [routerLink]="['home']" [routerLinkActive]="'text-info fw-b'"
            [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateWithDelay('About')" [routerLink]="['About']" [routerLinkActive]="'text-info'"
            [routerLinkActiveOptions]="{exact:true}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateWithDelay('Services')" [routerLink]="['Services']" [routerLinkActive]="'text-info'"
            [routerLinkActiveOptions]="{exact:true}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateWithDelay('Projects')" [routerLink]="['Projects']" [routerLinkActive]="'text-info'"
            [routerLinkActiveOptions]="{exact:true}">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
