/* Background styles for the container */
.container-background {
    background-image: url('../../../../src/assets/Images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}


.container-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3% 15%;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    border: none;
    border-radius: 3%;
    transition: transform 0.6s;
}

.card:hover {
    transform: translateY(-5px);
    transform: scale(1.05);
}

.icon {
    font-size: 3rem;
}

.card-title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.card-text {
    font-size: 1rem;
    max-height: 100px;
    overflow-y: hidden;
}

@media (max-width: 320px) {
    .card {
        grid-template-columns: 1fr;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .card-text {
        font-size: 0.8rem;
    }
}
@media (max-width: 767px) {
    .container-background {
        height: 170vh;
        background-attachment: scroll;
    }

}