<div class="container-fluid container-background">
    <div class="container pt-5">
        <main class="px-3 container-content">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <i class="bi bi-code-slash icon text-center text-primary"></i>
                        <div class="card-body">
                            <h5 class="card-title text-center">Full Stack .NET</h5>
                            <p class="card-text">I specialize in crafting end-to-end solutions using the power of the .NET framework. With a deep understanding of both front-end and back-end technologies, I create robust and efficient applications that meet the unique needs of businesses.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <i class="bi bi-tv icon text-center text-danger"></i>
                        <div class="card-body">
                            <h5 class="card-title text-center">WEB DESIGN</h5>
                            <p class="card-text">Web design is my passion and profession. I believe in the power of a well-crafted user interface to engage and inspire. Through a combination of creativity and technical expertise, I design websites that not only look stunning but also provide seamless user experiences</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <i class="bi bi-phone icon text-center text-success"></i>
                        <div class="card-body">
                            <h5 class="card-title text-center">Freelancing</h5>
                            <p class="card-text">Freelancing has given me the freedom to explore my creative potential while offering my skills and services to a diverse range of clients. With a commitment to delivering high-quality work and meeting deadlines, I've built strong relationships with clients who value innovation and professionalism.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <i class="bi bi-brush icon text-center text-warning"></i>
                        <div class="card-body">
                            <h5 class="card-title text-center">RESPONSIVE DESIGN</h5>
                            <p class="card-text">Responsive design is at the heart of what I do. I understand that in today's digital landscape, users access websites and applications on various devices, from smartphones to desktops. That's why I prioritize responsive design, ensuring that every project I work on adapts seamlessly to different screen sizes</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>